.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    height: auto;
    text-align: center;
    padding: 2rem;
}
.card > h1{
    flex: 1;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 1em;
}
.card > p{
    flex: 2;
}
.card > h6{
    flex: 1;
    font-size: xx-large;
}